@import url("https://fonts.googleapis.com/css?family=Dosis:700,600");
@import "./markdown.scss";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Dosis, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  --c-bg: #f4f3ef;
  --c-scrollbar: #ccc;
  --c-scrollbar-hover: #aaa;
}

html {
  background-color: var(--c-bg);
  background-image: url("/texture.png");
  @apply text-gray-700;
}

html.dark {
  --c-bg: #050505;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  @apply text-gray-200;
}

html {
  overflow: scroll;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  @apply bg-cyan-500;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

.btn {
  @apply px-4 py-1 rounded inline-block bg-teal-600 text-white cursor-pointer hover: bg-teal-700 disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none opacity-75 transition duration-200 ease-in-out hover: opacity-100 hover:text-teal-600;
}

* {
  scrollbar-color: var(--c-scrollbar) var(--c-bg);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: var(--c-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}